:root {
   --grey: #171B1E;
   --greyAlt: #111416;
   --pink: #EA3D77;
   --pinkAlt: #ED608F;
}

body {
   background-color: var(--grey);
   color: var(--pink);
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

#banner {
   position: relative;
   background-color: var(--pink);
   width: 100%;
   height: 300px;
   color: white;
}
#bannerC {
   position: absolute;
   width: 100%;
   height: 300px;
}
#bannerLogo {
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 300px;
   text-align: center;
   font-size: 64px;
   vertical-align: middle;
   line-height: 300px;
}

#navBar {
   width: 100%;
   height: 40px;
   background-color: var(--grey);
   border-bottom: 1px solid black;
}
#navBar a {
   color: var(--pink);
   text-decoration: none;
   width: 64px;
   height: 40px;
   line-height: 40px;
   vertical-align: middle;
   float: left;
   text-align: center;
   border-right: 1px solid black;
}
#navBar a.active {
   background-color: var(--greyAlt);
}
#navBar.sticky a.active {
   background-color: var(--pinkAlt);
   animation: navBarFadeActive 0.5s ease-in-out;
}
#navBar.sticky {
   position: fixed;
   top: 0;
   background-color: var(--pink);
   color: white;
   animation: navBarFade 0.5s ease-in-out;
}
#navBar.sticky a{
   color: white;
}
.sticky + #content {
  padding-top: 40px;
}
#floatRight {
   float: right;
   border-left: 1px solid black;
}

#content {
   padding: 8px;
}

#featItem {
   width: 30%;
   margin: 64px 35% 64px 35%;
}
#FITitle {
   font-size: 20px;
   padding-bottom: 4px;
}
#FIImg img {
   width: 100%;
   /*padding: 0 10% 0 10%;*/
}
#footer {
   width: 100%;
   background-color: var(--greyAlt);
   padding: 32px 0 32px 0;
}
#footerContent {
   margin-left: 16px;
}

#contactLink {
   color: white;
}
#contactItem {
   width: 30%;
   margin: 16px 35% 64px 35%;
   text-align: center;
   background-color: var(--greyAlt);
   padding: 8px 8px 32px 8px;
}

#shopItems {
   background-color: var(--pinkAlt);
   width: 80%;
   margin: 16px 10% 16px 10%;
   display: grid;
}
#shopItem {
   background-color: var(--greyAlt);
   width: 300px;
   height: 400px;
}
#shopItemTitle {
   margin-top: 8px;
   text-align: center;
}
#shopItemImg {
   margin: 8px 30px 8px 30px;
   width: 240;
}
#shopItemButtons {
   width: 100%;
   height: 32px;

}
.shopItemButton {
   width: 48%;
   height: 100%;
   float: left;
   margin: 0 1% 0 1%;
}

@keyframes navBarFade {
   0% {background-color: var(--grey);
      color: var(--pink);}
   100% {background-color: var(--pink);
      color: white;}
}
@keyframes navBarFadeActive {
   0% {background-color: var(--greyAlt);
      color: var(--pink);}
   100% {background-color: var(--pinkAlt);
      color: white;}
}
