body {
   background-color: #171B1E;
   color: #EA3D77;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

#banner {
   position: relative;
   background-color: red;
   width: 100%;
   height: 300px;
   color: white;
}
#bannerC {
   position: absolute;
   width: 100%;
   height: 300px;
}
#bannerLogo {
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 300px;
   text-align: center;
   font-size: 64px;
   vertical-align: middle;
   line-height: 300px;
}
